<div class="main-wrapper">
  <div class="content">
  	<% @players.each |player| do %>
	  	<div class="elem">
	  		<label>IP:</label><span><%= player.ip %></span>
	  		<label>EMAIL:</label><span><%= player.email %></span>
	  	</div>
  	<% end %>
  </div>
<div>